/* .bookAppointmentFormFields input {
    height: 40px !important;
    color: black;
    border-radius: 10px !important;
    margin: 5px 5px 5px;
}
.bookAppointmentFormFields label {
    margin: 5px 5px 5px;
    color: #000;
    font-weight: 700;
    margin-top: 25px;
    text-align: left;
}
form button {
    align-items: left !important;
    margin-left: 10px !important;
} */
form {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 30px;
    width: auto;
}
.MuiInputLabel-formControl {
    top: 7px !important;
    left: 0;
    position: absolute;
    transform: translate(0, 24px) scale(1);
}