.contactUs {
    width: 100%;
    height: 130vh;
    display: flex;
}
.contactUs .leftSide {
    height: 100%;
    flex: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contactUs .rightSide {
    height: 100%;
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contactUs .rightSide h1 {
    margin-left: 30px;
    text-align: left;
    font-weight: 10;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#contactUsForm {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 30px;
}
#contactUsForm input {
    height: 40px;
    width: 80%;
    border: none;
    color: black;
    border-bottom: 1px solid #121619;
}
#contactUsForm textarea {
    height: 70px;
    width: 80%; 
    border: none;
    color: black;
    margin-top: 15px;
    border-bottom: 1px solid #121619;
}
input::placeholder,
textarea::placeholder {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}
#contactUsForm input:focus, textarea:focus {
    outline: none;
}
#contactUsForm label {
    font-weight: bold;
    margin-top: 15px;
    color: black;
    text-align: left;
}
#contactUsForm button {
    margin-top: 40px;
    width: 140px;
    height: 40px;
    border: none;
    color: whitesmoke;
    background-color: #121619;
    cursor: pointer;
    font-size: 15px;
    border-radius: 20px;
}
#openSuccessMsg {
    display: inline-block;
    color: rgb(11, 245, 23);
    text-align: left;
    font-size: 0.95em;
    cursor: pointer;
}
#closeSuccessMsg, #closeErrorMsg {
    display: none;
}
#openErrorMsg {
    display: inline-block;
    color: rgb(196, 92, 97);
    text-align: left;
    font-size: 0.95em;
    cursor: pointer;
}